@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="page-header page-header-custom">
       <!-- <nav class="navbar navbar-default nav-bar-center">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav center">
                        <li><a href="#">Home</a></li>
                        <li><a href="#intro-wrapper">Password Strength Validation</a></li>
                        <li><a href="#password-generation">Password Generator</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Source Code</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->

        <h1>
            <a href="#">PasswordUtility.NET</a>
        </h1>
        <h3>Validate and generate passwords using open source tools</h3>
    </div>
    <div>
        <div class="col-md-5 validation-header">&nbsp;</div>
        <div class="col-md-2 text-center validation-header-title">Playground</div>
        <div class="col-md-5 validation-header">&nbsp;</div>
    </div>
    <div style="height: 400px; background-color: #e97770;">
        <div class="col-xs-6 col-md-6 col-md-offset-3 text-center">
            <div style="padding-top: 30px; line-height: 40px;">
                <div class="input-group">
                    <input type="text" id="txtValidate" class="form-control custom-text-box" placeholder="Enter password to validate...">
                    <span class="input-group-btn">
                        <button id="btnValidate" class="btn btn-primary custom-button" type="button">Check strength</button>
                    </span>
                </div>
                <input type="checkbox" checked data-toggle="toggle">
            </div>
        </div>
    </div>
</div>
                





