@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>PasswordUtility.Net</h1>
    <h2>Generate and validate strong passwords using this cool, free, OSS project!</h2>
</div>
<div>
    <input type="text" class="form-control input-lg" placeholder="Type your password..." />
</div>



