html, body {
    font-family: 'Play', sans-serif;
    color: #fff;
    font-size: 18px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Play', sans-serif;
}

h1 {
    font-size: 1.8em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

a {
    color: #CCCCCC;
     text-decoration: none;
}

 a:hover  {
     color: #fff;
     text-decoration: none;
 }

body {
    padding-bottom: 20px;
    background-color: #0CB269;
}

label {
    display: block;
    font-weight: 400;
}

.progress {
    margin-bottom: 0;
}
.page-header {
    border: none;
}

.navbar-inverse .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel-body {
    background-color: #72575C;
}

.navbar-default .navbar-nav > li > a {
    color: #CCCCCC;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.custom-text-box {
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.6em;
    border: none;
}

.custom-text-box-standalone {
    height: 60px;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.6em;
    border: none;
}

.custom-button {
    font-size: 29px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-primary {
    background-color: #B21A00
}

.btn-primary:hover {
    background-color: #FF4222;
}

.btn-primary:active {
    background-color: #FF4222;
}

.form-group-custom {
    margin-right: 20px;
}


